<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="app.bogenliga.application">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <!-- Workaround Kafka-Appender -->
            <PatternLayout pattern="%d %p %c{1.} %m%n"/>
            <!--<CdllLayoutJSON stackTrace="true"/>-->
        </Console>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
